html {
    color: #000;
    background: #fff;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
header,
footer,
article,
aside,
details,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
menu,
nav,
section {
    display: block;
}

body,
button,
input,
select,
textarea {
    font: 13px/1.5 tahoma, arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft Yahei', \5b8b\4f53;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500;
}

img {
    border: none;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #3487E2;
}

a:hover {
    text-decoration: underline;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500
}

.clearfixed {
    zoom: 1;
}

.clearfixed:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-hide {
    display: none;
}

%fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input,
textarea,
select {
    outline: 0;
    resize: none;
}

.mg10 {
    margin-top: 10px!important;
}


/***common***/

html,
body {
    background-color: #E3E4E9;
    color: #333;
}

.wrapper {
    width: 100%;
    min-width: 1200px;
}

.header-top {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 100;
}

.hdtop {
    position: relative;
    min-width: 1200px;
    height: 60px;
    line-height: 60px;
    background-color: #f4f6fc;
    color: #666;
    z-index: 10;
    a,
    a:visited {
        color: #666;
    }
}

%topicon {
    background: url(../images/header/header.png) no-repeat;
    content: ' ';
    overflow: hidden;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}

.hdinner {
    position: relative;
    margin: 0 20px;
    .section-l {
        position: absolute;
        left: 0;
        width: 200px;
        color: #666;
        font-size: 14px;
        @extend %fn-text-overflow;
    }
    .section_c {
        position: absolute;
        left: 50%;
        width: 600px;
        margin-left: -345px;
        font-size: 14px;
        a {
            overflow: hidden;
            float: left;
            position: relative;
            width: 4.2em;
            height: 57px;
            margin-right: 40px;
            text-align: center;
            &:before {
                width: 20px;
                height: 20px;
                @extend %topicon;
            }
            &.active {
                border-bottom: 3px solid #FC923F;
                font-weight: 700;
            }
        }
    }
    .search-f {
        position: absolute;
        left: 50%;
        top: 10px;
        width: 300px;
        height: 40px;
        margin-left: 100px;
        .f-field {
            padding: 10px 20px 10px 0;
            border: 1px solid #D6DAE5;
            background: #fff;
            border-radius: 2px;
            height: 18px;
        }
        .search-text {
            display: block;
            width: 235px;
            height: 20px;
            line-height: 20px;
            /*background: 0 0;*/
            border: 0 none;
            /*border-radius: 2px;*/
            color: #666;
            padding-left: 15px;
        }
        .search-btn {
            position: absolute;
            top: 13px;
            right: 20px;
            width: 16px;
            height: 16px;
            background-position: -120px -30px;
            border: 0 none;
            cursor: pointer;
            @extend %topicon;
        }
    }
    .section-r {
        float: right;
        height: 35px;
        display: block;
        .com-use-l {
            float: left;
            margin: 0 15px;
            .common-use-title {
                position: relative;
                display: inline-block;
                padding-right: 20px;
                text-align: center;
                &:after {
                    position: absolute;
                    right: 0;
                    top: 26px;
                    width: 12px;
                    height: 8px;
                    background-position: -150px -10px;
                    @extend %topicon;
                }
            }
            .common-use-list {
                position: absolute;
                top: 45px;
                right: 11px;
                width: 84px;
                padding: 10px 0;
                background: #FFF;
                border-radius: 2px;
                box-shadow: 0 0 2px rgba(0, 0, 0, .2);
                line-height: 27px;
                z-index: 2;
                a,
                .logout .logout-l {
                    display: block;
                    height: 27px;
                    padding: 0 15px;
                    color: #333;
                }
                .logout .logout-l {
                    background: #FFF;
                    border: 0;
                    cursor: pointer;
                }
            }
        }
    }
}

$head-four-icon:( app:0, crm:1, apps:2, manage:3);
@each $icon,
$num in $head-four-icon {
    .#{$icon}-top-nav-l {
        &:before {
            background-position: $num * -30px 0!important;
        }
    }
    .#{$icon}-top-nav-l {
        &.active:before,
        &:hover:before {
            background-position: $num * -30px -30px!important;
        }
    }
}

.search-history-wrapper {
    position: absolute;
    top: 45px;
    left: 1px;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    border-radius: 2px;
    width: 300px;
    z-index: 1;
    p {
        height: 24px;
        font-size: 12px;
        color: #999;
        line-height: 24px;
        margin-bottom: 5px;
        padding: 0 20px;
        .clear {
            float: right;
            width: 30px;
            text-align: center;
            color: #3487E2;
            cursor: pointer;
        }
    }
}

.container {
    width: 1160px;
    margin: 15px auto 0;
}

.page-content {
    .p-nav-wrapper {
        float: left;
        width: 220px;
        margin-right: 15px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        border-radius: 2px;
        background: #fff;
        z-index: 10;
    }
    .p-main {
        float: left;
        width: 600px;
        padding: 0 0 30px;
    }
    .p-side-wrapper {
        float: right;
        width: 310px;
    }
}

.p-nav-wrapper {
    .p-section-header {
        position: relative;
        box-shadow: none;
        width: 180px;
        padding: 20px 20px 0;
        .img-wrap {
            padding-bottom: 20px;
            border-bottom: 1px solid #EEE;
            img {
                width: 55px;
                height: 55px;
                margin-right: 20px;
                float: left;
                border-radius: 5px;
            }
            span {
                display: inline-block;
                font-size: 16px;
                color: #333;
                height: 55px;
                line-height: 55px;
                width: 105px;
                @extend %fn-text-overflow;
                vertical-align: middle;
            }
        }
    }
    .p-section-nav {
        font-size: 13px;
        width: 180px;
        padding: 7px 20px;
        border-top: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        li {
            position: relative;
            color: #3e5685;
            font-size: 13px;
            line-height: 28px;
            @extend %fn-text-overflow;
            a {
                color: #4D6595;
                width: 100%;
                display: inline-block;
                &.cur {
                    color: #FC923F;
                    font-weight: 700;
                }
            }
        }
    }
}


/************************************/

.p-main {
    .section-publish {
        margin: 0 0 15px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        background: #FFF;
        border-radius: 2px;
        .publish-wrapper {
            padding: 10px 25px 25px;
            border-radius: 2px;
            position: relative;
            .publish-tab {
                .tab-title {
                    /*position: relative;
                    z-index: 2;*/
                    li {
                        margin-right: 0px;
                        padding-left: 5px;
                        vertical-align: top;
                        position: relative;
                        top: 1px;
                        display: inline-block;
                        a {
                            padding: 0 10px;
                            height: 35px;
                            line-height: 35px;
                            color: #3487E2;
                            display: inline-block;
                        }
                    }
                }
                .tab-bg {
                    position: absolute;
                    width: 51px;
                    left: 36px;
                    top: 10px;
                    height: 100%;
                    background: {
                        image: url(../images/fs_publish.png);
                        repeat: no-repeat;
                        position: 0 28px;
                        color: transparent;
                    }
                }
            }
            .publish-content {
                position: relative;
                .publish-panel {
                    border-top: 1px solid #EBEBEB;
                    cursor: text;
                    padding-top: 23px;
                    .input-text {
                        height: 30px;
                        line-height: 30px;
                        color: #ccc;
                        font-size: 16px;
                        padding-left: 32px;
                        background: url(../images/fs_publish.png) no-repeat -79px 5px;
                        .btn-publish {
                            border: 1px solid #EEE;
                            cursor: default;
                            text-decoration: none;
                            color: #CCC;
                            display: inline-block;
                            height: 20px;
                            line-height: 20px;
                            padding: 6px 13px;
                            font-size: 14px;
                            border-radius: 2px;
                            text-align: center;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .filter-box {
        padding: 0 15px;
        position: relative;
        margin: 0 0 15px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        background: #FFF;
        border-radius: 2px;
        .filter-header {
            padding-left: 10px;
            .f-tab {
                float: left;
                color: #3487e2;
                li {
                    float: left;
                    height: 44px;
                    margin-right: 15px;
                    line-height: 46px;
                    padding: 3px 0 0;
                    cursor: pointer;
                    &.state-active {
                        border-bottom: 3px solid #FC923F;
                        color: #333;
                    }
                }
            }
            .btn-filter {
                float: right;
                position: relative;
                margin-right: 15px;
                line-height: 48px;
                color: #3487e2;
                cursor: pointer;
                &:after {
                    background: url(../images/filter.png) no-repeat;
                    background-position: 0 0;
                    content: ' ';
                    display: inline-block;
                    width: 12px;
                    height: 8px;
                    margin-left: 5px;
                }
                &.expand:after {
                    background-position: 0 -10px;
                }
            }
        }
        .filter-content {
            padding: 18px 5px;
            height: 30px;
            border-top: 1px solid #ececec;
            .filter-select {
                float: left;
                margin-right: 4px;
                width: 86px;
                .select-title-wrapper {
                    display: inline-block;
                    position: relative;
                    .select-title {
                        display: inline-block;
                        padding-left: 10px;
                        padding-right: 18px;
                        width: 130px;
                        height: 28px;
                        line-height: 28px;
                        border: 1px solid #d8d8d8;
                        background: #fff;
                        color: #424242;
                        cursor: pointer;
                        @extend %fn-text-overflow;
                    }
                    .title-icon {
                        position: absolute;
                        top: 14px;
                        right: 10px;
                        width: 7px;
                        height: 4px;
                        background: url(../images/ico-right-open.png) no-repeat;
                    }
                }
            }
            .filter-wrapper {
                float: right;
                width: 170px;
                border: 1px solid #d9d9d9;
                .filter-keyword {
                    width: 109px;
                    height: 28px;
                    line-height: 28px;
                    padding: 0 9px;
                    border: 0;
                }
                .btn-search {
                    float: right;
                    width: 28px;
                    height: 28px;
                    &:before {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        margin: 6px auto 0;
                        background: url(../images/filter.png) no-repeat;
                        background-position: -20px 0;
                    }
                }
            }
        }
    }
    .list-wrapper {
        .list-item {
            background-color: #fff;
            margin-bottom: 15px;
            box-shadow: 0 0 2px rgba(0, 0, 0, .2);
            border-radius: 2px;
            .item-top {
                position: relative;
                padding: 20px 25px 6px;
                .item-face {
                    float: left;
                    position: relative;
                    margin-right: 10px;
                    img {
                        width: 45px;
                        height: 45px;
                        border-radius: 6px;
                    }
                }
                .item-info {
                    float: left;
                    .item-name {
                        line-height: 24px;
                        color: #999;
                    }
                    .item-time {
                        margin-top: 3px;
                        color: #969696;
                        span {
                            display: inline-block;
                            max-width: 150px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                        }
                    }
                }
                .item-info-right {
                    float: right;
                    span {
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        margin-right: 8px;
                        max-width: 150px;
                        @extend %fn-text-overflow;
                        .share-icon {
                            display: inline-block;
                            margin-bottom: 1px;
                            width: 8px;
                            height: 8px;
                            border-radius: 10px;
                            background: #72abff;
                        }
                    }
                }
            }
            .item-detail {
                .info-content {
                    padding: 0 26px;
                    padding-top: 7px;
                    margin-top: 10px;
                    padding-bottom: 20px;
                    line-height: 26px;
                    span {
                        color: #444;
                        font-size: 14px;
                        word-wrap: break-word;
                    }
                }
            }
            .item-func {
                background-color: #f4f7fd;
                height: 46px;
                position: relative;
                line-height: 46px;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                color: #6C7A96;
                .handle {
                    float: right;
                    position: relative;
                    vertical-align: top;
                    padding-right: 26px;
                    white-space: nowrap;
                    .fn-btn {
                        float: left;
                        padding: 0 10px;
                        .txt-s {
                            position: relative;
                            height: 30px;
                            left: -10px;
                            color: #E3E4E9;
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
}


/********************************************/

.p-side-wrapper {
    .side-section {
        position: relative;
        margin: 0 0 15px;
        padding-top: 19px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        background: #FFF;
        border-radius: 2px;
        .s-header {
            height: 14px;
            padding: 0 16px 0 17px;
            .title {
                float: left;
                font-size: 14px;
                line-height: 14px;
                color: #333;
            }
            .colleagues {
                float: right;
                line-height: 12px;
                font-size: 12px;
                color: #3487e2;
            }
        }
        .s-content {
            width: 276px;
            padding: 9px 13px 20px 19px;
            .p-colleague {
                line-height: 46px;
                text-align: center;
            }
        }
    }
}


/*********list.html************/

.crm-container {
    position: absolute;
    top: 60px;
    min-width: 1160px;
    height: 100%;
}

.nav-aside {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #2d3037;
    .new-add {
        padding: 20px 20px 0;
        margin-bottom: 15px;
        .add-btn {
            height: 38px;
            line-height: 38px;
            border-radius: 3px;
            text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
            background: #585e6b;
            color: #c9cdd4;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            em {
                font-size: 20px;
                margin-right: 10px;
                vertical-align: -1px;
                background: 0 0;
                position: static;
            }
            &:hover{
                &+.add-list{
                    display: block;
                }
            }
        }
        .add-list {
            display: none;
            position: absolute;
            top: 58px;
            left: 20px;
            padding: 10px 0;
            width: 160px;
            line-height: 40px;
            background: #434752;
            border-radius: 0 0 4px 4px;
            z-index: 10;
            a {
                position: relative;
                display: block;
                padding-left: 70px;
                color: #aaadb3;
                &:hover {
                    text-decoration: none;
                    color: #fc923f;
                }
                em {
                    top: 10px;
                    left: 38px;
                }
            }
            &:hover{
                display: block;
            }
        }
    }
    .menu-section {
        line-height: 48px;
        font-size: 13px;
        &.pend-list,
        &.set-list{
            a{
                text-indent: 0;
            }            
        }
        &.dash-list{
            a{
                text-indent: 30px;
            }
        }
        .menu-btn {
            padding-left: 20px;
            font-size: 15px;
            color: #bec2c9;
            cursor: pointer;
        }
        .menu-slide {
            ul {
                li {
                    a {
                        position: relative;
                        display: block;
                        padding: 0 20px 0 35px;
                        color: #aaadb3;
                        &:hover {
                            text-decoration: none;
                            color: #fc923f;
                        }
                        em{
                            top: 14px;
                            left: 34px;
                        }
                    }
                }
            }
        }
    }
    em {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../images/leftnav.png);
        background-repeat: no-repeat;
    }
}

$leftnav-icon:( sale:22, cus:3, contact:4, clue:5, oppo:6, contract:12, cb:10, gb:11, bill:16, customer:8, order:13, recorder:14,index:0,info:1);
@each $icon, $num in $leftnav-icon {
    .add-list,
    .menu-slide{
        a:hover {
            .ico-#{$icon} {
                background-position: $num * -20px 0!important;
            }
        }
    }
    .ico-#{$icon} {
        background-position: $num * -20px -20px!important;
    }
}