html {
  color: #000;
  background: #fff;
  height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
header,
footer,
article,
aside,
details,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

article,
aside,
details,
menu,
nav,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font: 13px/1.5 tahoma, arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft Yahei', \5b8b\4f53; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500; }

img {
  border: none;
  vertical-align: top; }

a {
  text-decoration: none;
  color: #3487E2; }

a:hover {
  text-decoration: underline; }

.clearfixed {
  zoom: 1; }

.clearfixed:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

.fn-left {
  float: left; }

.fn-right {
  float: right; }

.fn-hide {
  display: none; }

.hdinner .section-l, .p-nav-wrapper .p-section-header .img-wrap span, .p-nav-wrapper .p-section-header .p-section-nav li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

input,
textarea,
select {
  outline: 0;
  resize: none; }

.mg10 {
  margin-top: 10px !important; }

/***common***/
html,
body {
  background-color: #E3E4E9;
  color: #333; }

.wrapper {
  width: 100%;
  min-width: 1200px; }

.header-top {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100; }

.hdtop {
  position: relative;
  min-width: 1200px;
  height: 60px;
  line-height: 60px;
  background-color: #f4f6fc;
  color: #666;
  z-index: 10; }
  .hdtop a,
  .hdtop a:visited {
    color: #666; }

.hdinner {
  position: relative;
  margin: 0 20px; }
  .hdinner .section-l {
    position: absolute;
    left: 0;
    width: 200px;
    color: #666;
    font-size: 14px; }
  .hdinner .section_c {
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -345px;
    font-size: 14px; }
    .hdinner .section_c a {
      overflow: hidden;
      float: left;
      position: relative;
      width: 4.2em;
      height: 57px;
      margin-right: 40px;
      text-align: center; }
    .hdinner .section_c .active {
      border-bottom: 3px solid #FC923F;
      font-weight: 700; }
  .hdinner .search-f {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 300px;
    height: 40px;
    margin-left: 100px; }
    .hdinner .search-f .f-field {
      padding: 10px 20px 10px 0;
      border: 1px solid #D6DAE5;
      background: #fff;
      border-radius: 2px;
      height: 18px; }
    .hdinner .search-f .search-text {
      display: block;
      width: 235px;
      height: 20px;
      line-height: 20px;
      background: 0 0;
      border: 0 none;
      border-radius: 2px;
      color: #666;
      padding-left: 15px; }
    .hdinner .search-f .search-btn {
      position: absolute;
      top: 13px;
      right: 20px;
      width: 16px;
      height: 16px;
      background-position: -120px -30px;
      border: 0 none;
      vertical-align: middle;
      cursor: pointer; }
  .hdinner .section-r {
    float: right;
    height: 35px;
    display: block; }
    .hdinner .section-r .com-use-l {
      float: left;
      margin: 0 15px; }
      .hdinner .section-r .com-use-l .common-use-title {
        position: relative;
        display: inline-block;
        padding-right: 20px;
        text-align: center; }
        .hdinner .section-r .com-use-l .common-use-title:after {
          position: absolute;
          right: 0;
          top: 26px;
          width: 12px;
          height: 8px;
          background-position: -150px -10px; }
      .hdinner .section-r .com-use-l .common-use-list {
        position: absolute;
        top: 45px;
        right: 11px;
        width: 84px;
        padding: 10px 0;
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        line-height: 27px;
        z-index: 2; }
        .hdinner .section-r .com-use-l .common-use-list a,
        .hdinner .section-r .com-use-l .common-use-list .logout .logout-l {
          display: block;
          height: 27px;
          padding: 0 15px;
          color: #333; }
        .hdinner .section-r .com-use-l .common-use-list .logout .logout-l {
          background: #FFF;
          border: 0;
          cursor: pointer; }

.search-btn,
.com-use-l .common-use-title:after,
.hdtop .section_c a:before {
  background: url(../images/header/header.png) no-repeat;
  content: ' ';
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  vertical-align: middle; }

.app-top-nav-l.active:before, .app-top-nav-l:hover:before {
  background-position: 0px -30px; }

.app-top-nav-l:before {
  background-position: 0px 0; }

.crm-top-nav-l.active:before, .crm-top-nav-l:hover:before {
  background-position: -30px -30px; }

.crm-top-nav-l:before {
  background-position: -30px 0; }

.apps-top-nav-l.active:before, .apps-top-nav-l:hover:before {
  background-position: -60px -30px; }

.apps-top-nav-l:before {
  background-position: -60px 0; }

.manage-top-nav-l.active:before, .manage-top-nav-l:hover:before {
  background-position: -90px -30px; }

.manage-top-nav-l:before {
  background-position: -90px 0; }

.search-history-wrapper {
  position: absolute;
  top: 45px;
  left: 1px;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 300px;
  z-index: 1; }
  .search-history-wrapper p {
    height: 24px;
    font-size: 12px;
    color: #999;
    line-height: 24px;
    margin-bottom: 5px;
    padding: 0 20px; }
    .search-history-wrapper p .clear {
      float: right;
      width: 30px;
      text-align: center;
      color: #3487E2;
      cursor: pointer; }

.container {
  width: 1160px;
  margin: 15px auto 0; }

.page-content .p-nav-wrapper {
  float: left;
  width: 220px;
  margin-right: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #fff;
  z-index: 10; }

.p-nav-wrapper .p-section-header {
  position: relative;
  box-shadow: none;
  width: 180px;
  padding: 20px 20px 0; }
  .p-nav-wrapper .p-section-header .img-wrap {
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE; }
    .p-nav-wrapper .p-section-header .img-wrap img {
      width: 55px;
      height: 55px;
      margin-right: 20px;
      float: left;
      border-radius: 5px; }
    .p-nav-wrapper .p-section-header .img-wrap span {
      display: inline-block;
      font-size: 16px;
      color: #333;
      height: 55px;
      line-height: 55px;
      width: 105px;
      vertical-align: middle; }
  .p-nav-wrapper .p-section-header .p-section-nav {
    font-size: 13px;
    width: 180px;
    padding: 7px 20px;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
    .p-nav-wrapper .p-section-header .p-section-nav li {
      position: relative;
      color: #3e5685;
      font-size: 13px;
      line-height: 28px; }
      .p-nav-wrapper .p-section-header .p-section-nav li a {
        color: #4D6595;
        width: 100%;
        display: inline-block; }
        .p-nav-wrapper .p-section-header .p-section-nav li a.cur {
          color: #FC923F;
          font-weight: 700; }

/*# sourceMappingURL=style.css.map */
