@charset "UTF-8";
html {
  color: #000;
  background: #fff;
  height: 100%; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
header,
footer,
article,
aside,
details,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

article,
aside,
details,
menu,
nav,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font: 13px/1.5 tahoma, arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft Yahei', \5b8b\4f53; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500; }

img {
  border: none;
  vertical-align: top; }

a {
  text-decoration: none;
  color: #3487E2; }

a:hover {
  text-decoration: underline; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500; }

.clearfixed {
  zoom: 1; }

.clearfixed:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

.fn-left {
  float: left; }

.fn-right {
  float: right; }

.fn-hide {
  display: none; }

.hdinner .section-l, .p-nav-wrapper .p-section-header .img-wrap span, .p-nav-wrapper .p-section-nav li, .p-main .filter-box .filter-content .filter-select .select-title-wrapper .select-title, .p-main .list-wrapper .list-item .item-top .item-info-right span, .content-container .content-body .body-main .left-part .preset-box .box-item .item-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

input,
textarea,
select {
  outline: 0;
  resize: none; }

.mg10 {
  margin-top: 10px !important; }

/***common***/
html,
body {
  background-color: #E3E4E9;
  color: #333; }

.wrapper {
  width: 100%;
  min-width: 1200px; }

.header-top {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100; }

.hdtop {
  position: relative;
  min-width: 1200px;
  height: 60px;
  line-height: 60px;
  background-color: #f4f6fc;
  color: #666;
  z-index: 10; }
  .hdtop a,
  .hdtop a:visited {
    color: #666; }

.hdinner .section_c a:before, .hdinner .search-f .search-btn, .hdinner .section-r .com-use-l .common-use-title:after {
  background: url(../images/header/header.png) no-repeat;
  content: ' ';
  overflow: hidden;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle; }

.hdinner {
  position: relative;
  margin: 0 20px; }
  .hdinner .section-l {
    position: absolute;
    left: 0;
    width: 200px;
    color: #666;
    font-size: 14px; }
  .hdinner .section_c {
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -345px;
    font-size: 14px; }
    .hdinner .section_c a {
      overflow: hidden;
      float: left;
      position: relative;
      width: 4.2em;
      height: 57px;
      margin-right: 40px;
      text-align: center; }
      .hdinner .section_c a:before {
        width: 20px;
        height: 20px; }
      .hdinner .section_c a.active {
        border-bottom: 3px solid #FC923F;
        font-weight: 700; }
  .hdinner .search-f {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 300px;
    height: 40px;
    margin-left: 100px; }
    .hdinner .search-f .f-field {
      padding: 10px 20px 10px 0;
      border: 1px solid #D6DAE5;
      background: #fff;
      border-radius: 2px;
      height: 18px; }
    .hdinner .search-f .search-text {
      display: block;
      width: 235px;
      height: 20px;
      line-height: 20px;
      /*background: 0 0;*/
      border: 0 none;
      /*border-radius: 2px;*/
      color: #666;
      padding-left: 15px; }
    .hdinner .search-f .search-btn {
      position: absolute;
      top: 13px;
      right: 20px;
      width: 16px;
      height: 16px;
      background-position: -120px -30px;
      border: 0 none;
      cursor: pointer; }
  .hdinner .section-r {
    float: right;
    height: 35px;
    display: block; }
    .hdinner .section-r .com-use-l {
      float: left;
      margin: 0 15px; }
      .hdinner .section-r .com-use-l .common-use-title {
        position: relative;
        display: inline-block;
        padding-right: 20px;
        text-align: center; }
        .hdinner .section-r .com-use-l .common-use-title:after {
          position: absolute;
          right: 0;
          top: 26px;
          width: 12px;
          height: 8px;
          background-position: -150px -10px; }
      .hdinner .section-r .com-use-l .common-use-list {
        position: absolute;
        top: 45px;
        right: 11px;
        width: 84px;
        padding: 10px 0;
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        line-height: 27px;
        z-index: 2; }
        .hdinner .section-r .com-use-l .common-use-list a,
        .hdinner .section-r .com-use-l .common-use-list .logout .logout-l {
          display: block;
          height: 27px;
          padding: 0 15px;
          color: #333; }
        .hdinner .section-r .com-use-l .common-use-list .logout .logout-l {
          background: #FFF;
          border: 0;
          cursor: pointer; }

.app-top-nav-l:before {
  background-position: 0px 0 !important; }

.app-top-nav-l.active:before, .app-top-nav-l:hover:before {
  background-position: 0px -30px !important; }

.crm-top-nav-l:before {
  background-position: -30px 0 !important; }

.crm-top-nav-l.active:before, .crm-top-nav-l:hover:before {
  background-position: -30px -30px !important; }

.apps-top-nav-l:before {
  background-position: -60px 0 !important; }

.apps-top-nav-l.active:before, .apps-top-nav-l:hover:before {
  background-position: -60px -30px !important; }

.manage-top-nav-l:before {
  background-position: -90px 0 !important; }

.manage-top-nav-l.active:before, .manage-top-nav-l:hover:before {
  background-position: -90px -30px !important; }

.search-history-wrapper {
  position: absolute;
  top: 45px;
  left: 1px;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 300px;
  z-index: 1; }
  .search-history-wrapper p {
    height: 24px;
    font-size: 12px;
    color: #999;
    line-height: 24px;
    margin-bottom: 5px;
    padding: 0 20px; }
    .search-history-wrapper p .clear {
      float: right;
      width: 30px;
      text-align: center;
      color: #3487E2;
      cursor: pointer; }

.container {
  width: 1160px;
  margin: 15px auto 0; }

.page-content .p-nav-wrapper {
  float: left;
  width: 220px;
  margin-right: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #fff;
  z-index: 10; }
.page-content .p-main {
  float: left;
  width: 600px;
  padding: 0 0 30px; }
.page-content .p-side-wrapper {
  float: right;
  width: 310px; }

.p-nav-wrapper .p-section-header {
  position: relative;
  box-shadow: none;
  width: 180px;
  padding: 20px 20px 0; }
  .p-nav-wrapper .p-section-header .img-wrap {
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE; }
    .p-nav-wrapper .p-section-header .img-wrap img {
      width: 55px;
      height: 55px;
      margin-right: 20px;
      float: left;
      border-radius: 5px; }
    .p-nav-wrapper .p-section-header .img-wrap span {
      display: inline-block;
      font-size: 16px;
      color: #333;
      height: 55px;
      line-height: 55px;
      width: 105px;
      vertical-align: middle; }
.p-nav-wrapper .p-section-nav {
  font-size: 13px;
  width: 180px;
  padding: 7px 20px;
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }
  .p-nav-wrapper .p-section-nav li {
    position: relative;
    color: #3e5685;
    font-size: 13px;
    line-height: 28px; }
    .p-nav-wrapper .p-section-nav li a {
      color: #4D6595;
      width: 100%;
      display: inline-block; }
      .p-nav-wrapper .p-section-nav li a.cur {
        color: #FC923F;
        font-weight: 700; }

/************************************/
.p-main .section-publish {
  margin: 0 0 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #FFF;
  border-radius: 2px; }
  .p-main .section-publish .publish-wrapper {
    padding: 10px 25px 25px;
    border-radius: 2px;
    position: relative; }
    .p-main .section-publish .publish-wrapper .publish-tab .tab-title {
      /*position: relative;
      z-index: 2;*/ }
      .p-main .section-publish .publish-wrapper .publish-tab .tab-title li {
        margin-right: 0px;
        padding-left: 5px;
        vertical-align: top;
        position: relative;
        top: 1px;
        display: inline-block; }
        .p-main .section-publish .publish-wrapper .publish-tab .tab-title li a {
          padding: 0 10px;
          height: 35px;
          line-height: 35px;
          color: #3487E2;
          display: inline-block; }
    .p-main .section-publish .publish-wrapper .publish-tab .tab-bg {
      position: absolute;
      width: 51px;
      left: 36px;
      top: 10px;
      height: 100%;
      background-image: url(../images/fs_publish.png);
      background-repeat: no-repeat;
      background-position: 0 28px;
      background-color: transparent; }
    .p-main .section-publish .publish-wrapper .publish-content {
      position: relative; }
      .p-main .section-publish .publish-wrapper .publish-content .publish-panel {
        border-top: 1px solid #EBEBEB;
        cursor: text;
        padding-top: 23px; }
        .p-main .section-publish .publish-wrapper .publish-content .publish-panel .input-text {
          height: 30px;
          line-height: 30px;
          color: #ccc;
          font-size: 16px;
          padding-left: 32px;
          background: url(../images/fs_publish.png) no-repeat -79px 5px; }
          .p-main .section-publish .publish-wrapper .publish-content .publish-panel .input-text .btn-publish {
            border: 1px solid #EEE;
            cursor: default;
            text-decoration: none;
            color: #CCC;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            padding: 6px 13px;
            font-size: 14px;
            border-radius: 2px;
            text-align: center;
            vertical-align: middle; }
.p-main .filter-box {
  padding: 0 15px;
  position: relative;
  margin: 0 0 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #FFF;
  border-radius: 2px; }
  .p-main .filter-box .filter-header {
    padding-left: 10px; }
    .p-main .filter-box .filter-header .f-tab {
      float: left;
      color: #3487e2; }
      .p-main .filter-box .filter-header .f-tab li {
        float: left;
        height: 44px;
        margin-right: 15px;
        line-height: 46px;
        padding: 3px 0 0;
        cursor: pointer; }
        .p-main .filter-box .filter-header .f-tab li.state-active {
          border-bottom: 3px solid #FC923F;
          color: #333; }
    .p-main .filter-box .filter-header .btn-filter {
      float: right;
      position: relative;
      margin-right: 15px;
      line-height: 48px;
      color: #3487e2;
      cursor: pointer; }
      .p-main .filter-box .filter-header .btn-filter:after {
        background: url(../images/filter.png) no-repeat;
        background-position: 0 0;
        content: ' ';
        display: inline-block;
        width: 12px;
        height: 8px;
        margin-left: 5px; }
      .p-main .filter-box .filter-header .btn-filter.expand:after {
        background-position: 0 -10px; }
  .p-main .filter-box .filter-content {
    padding: 18px 5px;
    height: 30px;
    border-top: 1px solid #ececec; }
    .p-main .filter-box .filter-content .filter-select {
      float: left;
      margin-right: 4px;
      width: 86px; }
      .p-main .filter-box .filter-content .filter-select .select-title-wrapper {
        display: inline-block;
        position: relative; }
        .p-main .filter-box .filter-content .filter-select .select-title-wrapper .select-title {
          display: inline-block;
          padding-left: 10px;
          padding-right: 18px;
          width: 130px;
          height: 28px;
          line-height: 28px;
          border: 1px solid #d8d8d8;
          background: #fff;
          color: #424242;
          cursor: pointer; }
        .p-main .filter-box .filter-content .filter-select .select-title-wrapper .title-icon {
          position: absolute;
          top: 14px;
          right: 10px;
          width: 7px;
          height: 4px;
          background: url(../images/ico-right-open.png) no-repeat; }
    .p-main .filter-box .filter-content .filter-wrapper {
      float: right;
      width: 170px;
      border: 1px solid #d9d9d9; }
      .p-main .filter-box .filter-content .filter-wrapper .filter-keyword {
        width: 109px;
        height: 28px;
        line-height: 28px;
        padding: 0 9px;
        border: 0; }
      .p-main .filter-box .filter-content .filter-wrapper .btn-search {
        float: right;
        width: 28px;
        height: 28px; }
        .p-main .filter-box .filter-content .filter-wrapper .btn-search:before {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          margin: 6px auto 0;
          background: url(../images/filter.png) no-repeat;
          background-position: -20px 0; }
.p-main .list-wrapper .list-item {
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px; }
  .p-main .list-wrapper .list-item .item-top {
    position: relative;
    padding: 20px 25px 6px; }
    .p-main .list-wrapper .list-item .item-top .item-face {
      float: left;
      position: relative;
      margin-right: 10px; }
      .p-main .list-wrapper .list-item .item-top .item-face img {
        width: 45px;
        height: 45px;
        border-radius: 6px; }
    .p-main .list-wrapper .list-item .item-top .item-info {
      float: left; }
      .p-main .list-wrapper .list-item .item-top .item-info .item-name {
        line-height: 24px;
        color: #999; }
      .p-main .list-wrapper .list-item .item-top .item-info .item-time {
        margin-top: 3px;
        color: #969696; }
        .p-main .list-wrapper .list-item .item-top .item-info .item-time span {
          display: inline-block;
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal; }
    .p-main .list-wrapper .list-item .item-top .item-info-right {
      float: right; }
      .p-main .list-wrapper .list-item .item-top .item-info-right span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin-right: 8px;
        max-width: 150px; }
        .p-main .list-wrapper .list-item .item-top .item-info-right span .share-icon {
          display: inline-block;
          margin-bottom: 1px;
          width: 8px;
          height: 8px;
          border-radius: 10px;
          background: #72abff; }
  .p-main .list-wrapper .list-item .item-detail .info-content {
    padding: 0 26px;
    padding-top: 7px;
    margin-top: 10px;
    padding-bottom: 20px;
    line-height: 26px; }
    .p-main .list-wrapper .list-item .item-detail .info-content span {
      color: #444;
      font-size: 14px;
      word-wrap: break-word; }
  .p-main .list-wrapper .list-item .item-func {
    background-color: #f4f7fd;
    height: 46px;
    position: relative;
    line-height: 46px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #6C7A96; }
    .p-main .list-wrapper .list-item .item-func .handle {
      float: right;
      position: relative;
      vertical-align: top;
      padding-right: 26px;
      white-space: nowrap; }
      .p-main .list-wrapper .list-item .item-func .handle .fn-btn {
        float: left;
        padding: 0 10px; }
        .p-main .list-wrapper .list-item .item-func .handle .fn-btn .txt-s {
          position: relative;
          height: 30px;
          left: -10px;
          color: #E3E4E9;
          font-style: normal; }

/********************************************/
.p-side-wrapper .side-section {
  position: relative;
  margin: 0 0 15px;
  padding-top: 19px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #FFF;
  border-radius: 2px; }
  .p-side-wrapper .side-section .s-header {
    height: 14px;
    padding: 0 16px 0 17px; }
    .p-side-wrapper .side-section .s-header .title {
      float: left;
      font-size: 14px;
      line-height: 14px;
      color: #333; }
    .p-side-wrapper .side-section .s-header .colleagues {
      float: right;
      line-height: 12px;
      font-size: 12px;
      color: #3487e2; }
  .p-side-wrapper .side-section .s-content {
    width: 276px;
    padding: 9px 13px 20px 19px; }
    .p-side-wrapper .side-section .s-content .p-colleague {
      line-height: 46px;
      text-align: center; }

/*********list.html************/
.crm-container {
  position: absolute;
  top: 60px;
  min-width: 1200px;
  width: 100%;
  height: 100%; }

/**宸︿晶瀵艰埅**/
.nav-aside {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #2d3037; }
  .nav-aside .new-add {
    padding: 20px 20px 0;
    margin-bottom: 15px; }
    .nav-aside .new-add .add-btn {
      height: 38px;
      line-height: 38px;
      border-radius: 3px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      background: #585e6b;
      color: #c9cdd4;
      font-size: 14px;
      text-align: center;
      cursor: pointer; }
      .nav-aside .new-add .add-btn em {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: -1px;
        background: 0 0;
        position: static; }
      .nav-aside .new-add .add-btn:hover + .add-list {
        display: block; }
    .nav-aside .new-add .add-list {
      display: none;
      position: absolute;
      top: 58px;
      left: 20px;
      padding: 10px 0;
      width: 160px;
      line-height: 40px;
      background: #434752;
      border-radius: 0 0 4px 4px;
      z-index: 10; }
      .nav-aside .new-add .add-list a {
        position: relative;
        display: block;
        padding-left: 70px;
        color: #aaadb3; }
        .nav-aside .new-add .add-list a:hover {
          text-decoration: none;
          color: #fc923f; }
        .nav-aside .new-add .add-list a em {
          top: 10px;
          left: 38px; }
      .nav-aside .new-add .add-list:hover {
        display: block; }
  .nav-aside .menu-section {
    line-height: 48px;
    font-size: 13px; }
    .nav-aside .menu-section.pend-list a, .nav-aside .menu-section.set-list a {
      text-indent: 0; }
    .nav-aside .menu-section.dash-list a {
      text-indent: 30px; }
    .nav-aside .menu-section .menu-btn {
      padding-left: 20px;
      font-size: 15px;
      color: #bec2c9;
      cursor: pointer; }
    .nav-aside .menu-section .menu-slide .viewport {
      height: 156px; }
    .nav-aside .menu-section .menu-slide ul li a {
      position: relative;
      display: block;
      padding: 0 20px 0 35px;
      color: #aaadb3; }
      .nav-aside .menu-section .menu-slide ul li a:hover {
        text-decoration: none;
        color: #fc923f; }
      .nav-aside .menu-section .menu-slide ul li a em {
        top: 14px;
        left: 34px; }
  .nav-aside em {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/leftnav.png);
    background-repeat: no-repeat; }

.add-list a:hover .ico-sale,
.menu-slide a:hover .ico-sale {
  background-position: -440px 0 !important; }

.ico-sale {
  background-position: -440px -20px !important; }

.add-list a:hover .ico-cus,
.menu-slide a:hover .ico-cus {
  background-position: -60px 0 !important; }

.ico-cus {
  background-position: -60px -20px !important; }

.add-list a:hover .ico-contact,
.menu-slide a:hover .ico-contact {
  background-position: -80px 0 !important; }

.ico-contact {
  background-position: -80px -20px !important; }

.add-list a:hover .ico-clue,
.menu-slide a:hover .ico-clue {
  background-position: -100px 0 !important; }

.ico-clue {
  background-position: -100px -20px !important; }

.add-list a:hover .ico-oppo,
.menu-slide a:hover .ico-oppo {
  background-position: -120px 0 !important; }

.ico-oppo {
  background-position: -120px -20px !important; }

.add-list a:hover .ico-contract,
.menu-slide a:hover .ico-contract {
  background-position: -240px 0 !important; }

.ico-contract {
  background-position: -240px -20px !important; }

.add-list a:hover .ico-cb,
.menu-slide a:hover .ico-cb {
  background-position: -200px 0 !important; }

.ico-cb {
  background-position: -200px -20px !important; }

.add-list a:hover .ico-gb,
.menu-slide a:hover .ico-gb {
  background-position: -220px 0 !important; }

.ico-gb {
  background-position: -220px -20px !important; }

.add-list a:hover .ico-bill,
.menu-slide a:hover .ico-bill {
  background-position: -320px 0 !important; }

.ico-bill {
  background-position: -320px -20px !important; }

.add-list a:hover .ico-customer,
.menu-slide a:hover .ico-customer {
  background-position: -160px 0 !important; }

.ico-customer {
  background-position: -160px -20px !important; }

.add-list a:hover .ico-order,
.menu-slide a:hover .ico-order {
  background-position: -260px 0 !important; }

.ico-order {
  background-position: -260px -20px !important; }

.add-list a:hover .ico-recorder,
.menu-slide a:hover .ico-recorder {
  background-position: -280px 0 !important; }

.ico-recorder {
  background-position: -280px -20px !important; }

.add-list a:hover .ico-index,
.menu-slide a:hover .ico-index {
  background-position: 0px 0 !important; }

.ico-index {
  background-position: 0px -20px !important; }

.add-list a:hover .ico-info,
.menu-slide a:hover .ico-info {
  background-position: -20px 0 !important; }

.ico-info {
  background-position: -20px -20px !important; }

/**鍙充晶涓讳綋**/
.content-container {
  position: absolute;
  left: 200px;
  top: 0;
  right: 0;
  bottom: 0; }
  .content-container .content-header {
    height: 72px;
    line-height: 72px;
    padding: 0 20px;
    background: #f4f6f9;
    font-size: 24px; }
  .content-container .content-body {
    /*position: absolute;*/
    background: #fff; }
    .content-container .content-body .body-title ul {
      padding-left: 10px;
      border-bottom: 1px solid #EEE;
      height: 54px;
      line-height: 53px; }
      .content-container .content-body .body-title ul .title-list {
        display: inline-block;
        padding: 0 10px;
        font-size: 14px; }
        .content-container .content-body .body-title ul .title-list a {
          display: block;
          color: #999;
          border-bottom: 2px solid transparent; }
          .content-container .content-body .body-title ul .title-list a.active, .content-container .content-body .body-title ul .title-list a:hover {
            text-decoration: none;
            color: #333;
            border-color: #ff8837; }
    .content-container .content-body .body-main {
      position: relative;
      /*left: 0;
      right: 0;
      top: 55px;
      bottom: 0;*/ }
      .content-container .content-body .body-main .left-part {
        /*position: absolute;*/
        /*top: 0;
        left: 0;*/
        width: 675px; }
        .content-container .content-body .body-main .left-part .viewport {
          height: 300px; }
        .content-container .content-body .body-main .left-part .preset-box {
          padding: 40px 0 0 30px; }
          .content-container .content-body .body-main .left-part .preset-box .box-title {
            width: 605px;
            padding: 0 20px;
            margin-bottom: 10px;
            line-height: 40px;
            font-size: 16px;
            background-color: #f2f5fa;
            color: #666; }
          .content-container .content-body .body-main .left-part .preset-box .box-item {
            position: relative;
            padding: 10px 0;
            margin-bottom: 10px !important;
            border: 1px dashed #fff; }
            .content-container .content-body .body-main .left-part .preset-box .box-item:hover {
              background-color: #fff5e5;
              border-color: #f5ddb6; }
              .content-container .content-body .body-main .left-part .preset-box .box-item:hover .delete-icon {
                display: block; }
            .content-container .content-body .body-main .left-part .preset-box .box-item .item-title {
              padding: 0 20px;
              border-bottom: 1px solid #f0f0f0; }
            .content-container .content-body .body-main .left-part .preset-box .box-item .item-label {
              display: inline-block;
              padding-left: 20px;
              padding-right: 10px;
              width: 120px;
              color: #000;
              vertical-align: middle; }
              .content-container .content-body .body-main .left-part .preset-box .box-item .item-label.checkbox-item {
                margin-top: 10px;
                vertical-align: top; }
              .content-container .content-body .body-main .left-part .preset-box .box-item .item-label span {
                position: relative; }
                .content-container .content-body .body-main .left-part .preset-box .box-item .item-label span.required:before {
                  position: absolute;
                  left: -10px;
                  top: 1px;
                  content: '*';
                  color: #f00; }
            .content-container .content-body .body-main .left-part .preset-box .box-item .input-box {
              display: inline-block;
              width: 335px; }
              .content-container .content-body .body-main .left-part .preset-box .box-item .input-box.multi-select {
                width: 400px; }
              .content-container .content-body .body-main .left-part .preset-box .box-item .input-box.checkbox {
                margin-top: 10px; }
              .content-container .content-body .body-main .left-part .preset-box .box-item .input-box input {
                width: 394px;
                height: 22px;
                line-height: 22px;
                padding: 5px 10px;
                border: 1px solid #ddd;
                border-radius: 3px;
                background: #fff !important; }
              .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .select-box {
                width: 245px; }
                .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .select-box .select-wrapper {
                  position: relative;
                  height: 32px;
                  padding: 0 25px 0 10px;
                  line-height: 32px;
                  background: #fff;
                  border: 1px solid #ddd;
                  border-radius: 3px;
                  cursor: pointer; }
                  .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .select-box .select-wrapper .select-text {
                    width: 100%; }
                  .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .select-box .select-wrapper i {
                    position: absolute;
                    right: 10px;
                    top: 12px;
                    width: 12px;
                    height: 8px;
                    background: url(../images/bg.png) no-repeat 0 -10px;
                    background-size: 12px 18px;
                    overflow: hidden; }
              .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .select-multibox {
                position: relative;
                display: inline-block;
                width: 150px;
                margin-right: 10px;
                padding: 0 10px;
                background-color: #fff;
                border-radius: 5px;
                line-height: 34px;
                border: 1px solid #ddd; }
                .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .select-multibox i {
                  position: absolute;
                  right: 10px;
                  top: 12px;
                  width: 12px;
                  height: 8px;
                  background: url(../images/bg.png) no-repeat 0 -10px;
                  background-size: 12px 18px;
                  overflow: hidden; }
              .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .checkbox-box {
                margin-bottom: 10px;
                padding-left: 5px;
                line-height: 15px; }
                .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .checkbox-box .checkbox-check {
                  display: inline-block;
                  width: 15px;
                  height: 15px;
                  background: url(../images/ico-check.png) no-repeat 0 -30px;
                  vertical-align: middle; }
                .content-container .content-body .body-main .left-part .preset-box .box-item .input-box .checkbox-box .checkbox-text {
                  padding: 0 25px 0 8px;
                  display: inline-block;
                  vertical-align: middle; }
            .content-container .content-body .body-main .left-part .preset-box .box-item .delete-icon {
              display: none;
              position: absolute;
              left: 581px;
              top: 8px;
              font-size: 20px;
              color: #e8be7c;
              cursor: pointer; }
        .content-container .content-body .body-main .left-part .add-box {
          width: 542px;
          margin-left: 50px;
          background-color: #fff;
          border: 1px dashed #4d6595;
          color: #576d99; }
          .content-container .content-body .body-main .left-part .add-box .add-btn {
            line-height: 56px;
            font-size: 15px;
            text-align: center;
            cursor: pointer; }
            .content-container .content-body .body-main .left-part .add-box .add-btn:hover {
              background: #e9ecf2; }
        .content-container .content-body .body-main .left-part .save-btn {
          margin-top: 20px;
          margin-left: 50px;
          padding: 0 30px;
          height: 32px;
          line-height: 32px;
          border: 1px solid #3e84e9;
          background-color: #3e84e9;
          border-radius: 3px;
          color: #fff !important;
          text-align: center;
          cursor: pointer; }
          .content-container .content-body .body-main .left-part .save-btn:hover {
            border-color: #2f6dcf;
            background-color: #2f6dcf; }
      .content-container .content-body .body-main .right-part {
        position: absolute;
        left: 675px;
        right: 0;
        top: 0;
        bottom: 0;
        border-left: 1px solid #ebebeb;
        background-color: #f7f9fc; }
        .content-container .content-body .body-main .right-part .set-box {
          width: 310px;
          padding: 40px 30px 0; }
          .content-container .content-body .body-main .right-part .set-box .set-title {
            font-size: 18px;
            padding-bottom: 3px; }
          .content-container .content-body .body-main .right-part .set-box .set-description {
            padding-bottom: 15px;
            color: #999; }
          .content-container .content-body .body-main .right-part .set-box .set-field {
            padding: 15px 0; }
            .content-container .content-body .body-main .right-part .set-box .set-field .field-name {
              display: block;
              padding-bottom: 10px;
              font-size: 14px; }
            .content-container .content-body .body-main .right-part .set-box .set-field input {
              width: 286px;
              padding: 5px 10px;
              height: 22px;
              line-height: 22px;
              border: 1px solid #ddd;
              border-radius: 3px;
              background-color: #fff; }
            .content-container .content-body .body-main .right-part .set-box .set-field .radio-icon {
              display: inline-block;
              width: 15px;
              height: 15px;
              vertical-align: middle;
              background-image: url(../images/ico-check.png) !important;
              background-repeat: no-repeat;
              background-position: -18px -31px; }
              .content-container .content-body .body-main .right-part .set-box .set-field .radio-icon:hover {
                background-position: -18px -16px; }
              .content-container .content-body .body-main .right-part .set-box .set-field .radio-icon.selected {
                background-position: -18px 0; }
            .content-container .content-body .body-main .right-part .set-box .set-field .radio-option {
              margin: 0 25px 0 8px; }

/**tinyscrollbar**/
.tinyscrollbar {
  position: relative; }
  .tinyscrollbar .scrollbar {
    width: 6px;
    right: 1px;
    position: absolute;
    top: 0;
    z-index: 2; }
    .tinyscrollbar .scrollbar div {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      opacity: 0.4; }
    .tinyscrollbar .scrollbar .track {
      position: relative;
      background-color: #e0e0e0; }
    .tinyscrollbar .scrollbar .thumb {
      position: absolute;
      cursor: pointer;
      background-color: #A2A2A2;
      overflow: hidden; }
  .tinyscrollbar .viewport {
    height: 200px;
    overflow: hidden;
    position: relative; }
    .tinyscrollbar .viewport .overview {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      margin: 0; }

/*# sourceMappingURL=style.css.map */
